/* Global */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

.navbar {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.navbar .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

/* Sections */
.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: center;
}

/* About Me */
.introduction-container {
  text-align: center;
  position: relative;
  top: 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  letter-spacing: 0.4pc;
  color: #fff;
}

.introduction-container .scroll-link {
  font-size: 3rem;
  color: #fff;
  line-height: 5;
}

.bgimg-1 {
  background-image: url(../images/bg1.jpg);
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  height: 100vh;
  padding-top: 60px;
  /* margin-top: 6rem!important; */
}

/* Portfolio */
#portfolio {
  padding-top: 80px;
}

.portfolio-title {
  text-align: center;
}

.thumbnail {
  visibility: hidden;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: none;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  -moz-transition: box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
}

.thumbnail:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3), 
  -10px 8px 15px rgba(0, 0, 0, 0.3), 10px 8px 15px rgba(0, 0, 0, 0.3);
}

.thumbnail img {
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.thumbnail img:hover {
  opacity: 1;
}

.caption {
  text-align: center;
}

#app-name a {
  color: #343a40;
  text-decoration: none;
}

#app-name a:hover {
  color: #f67;
  font-weight: 600;
}

/* Contact Me */
.contact-links {
  display: inline;
}

.contact-links a {
  padding: 20px;
  color: #343a40;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.contact-links a:hover{
  color: #f67;
  text-decoration: none;
}

/* Footer */
footer {
  text-align: center;
  background-color: #343a40;
  color: #ddd;
  padding: 40px;
}

footer .scroll-link {
  font-size: 3rem;
  color: #ddd;
}

@media (max-width: 480px) {
  .introduction-container {
      font-size: 28px;
  }
  .introduction-container .scroll-link {
    line-height: 3;
  }
}